<%= render "partials/header" %>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="mb-4">DETAILS STUDENT</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th scope="col">NOM</th>
                    <td><%= @student.last_name %></td>
                </tr>
                <tr>
                    <th scope="col">PRENOM</th>
                    <td><%= @student.first_name %></td>
                </tr>
                <tr>
                    <th scope="col">MATRICULE</th>
                    <td><%= @student.matricule %></td>
                </tr>
                <tr>
                    <th scope="col">SEXE</th>
                    <td><%= @student.sexe %></td>
                </tr>
                <tr>
                    <th scope="col">DATE DE NAISSANCE</th>
                    <td><%= @student.birth_date %></td>
                </tr> 
            </table>
            <div class="d-flex justify-content-between">
                <%= link_to "Edit", edit_student_path(@student), class: "btn btn-success" %>
                <%= link_to "Back", students_path, class: "btn btn-secondary" %>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

